<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="Username" value="user"/>
    <add key="Password" value="password"/>
    <add key="Website" value="https://bugzilla.mozilla.org/"/>
    <add key ="PageLoadTimeOut" value="40"/>
    </appSettings>
  </configuration>